body{
    margin: 0;
    padding: 0;
    background-color: #D7E8D4;
}

.contact-wrapper{
    width: 80%;
    padding: 20px;
    height: auto;
    margin: auto auto;
    margin-top: 70px;
    overflow: hidden;
}
.contactForm, .contactInfo{
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    float: left;
}
.contactForm > h2, .contactInfo > h2{
    text-align: center;
}

.formElement{
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    box-sizing: border-box;
}
.formElementLeft{
    width: 5%;
    float: left;
    margin-right: 5%;
}
.formElementLeft>h4{
    margin: 0;
    text-align: right;
}
.formElementRight{
    width: 85%;
    float: right;
}
.formElementRight>input{
    width: 100%;
}
.formElementRight>textarea{
    width: 100%;
    height: 20vh;
}
.formElementRight>button{
    margin: 5% 0;
    float: right;
}
@media screen and (max-width: 960px){
    .contactForm, .contactInfo{
        width: 100%;
    }
    .formElementLeft{
        float: none;
        
    }
    .formElementRight{
        float:none;
        width: 100%;
    }
}