body
{
    margin: 0;
    padding: 0;
}

textarea
{
    resize: none;
    min-height: 300px;
}

input,
textarea
{
    padding: 5px;
    background-color: #759b6f;
    font-family: "Calibri";
    font-size: 18px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
}

input::placeholder,
textarea::placeholder
{
    color: rgb(220, 220, 220);
}

form
{
    width: 60%;
    min-width: 700px;
    background-color: #658361;
    overflow:hidden;
    max-width: 800px;
    transition: width .5s, min-width .5s;
}

table
{
    width: 100%;
    table-layout: auto;
    padding: 0 10px 10px 10px;
    border-spacing: 10px;
}

input[type=submit]
{
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

input[type=submit]:hover
{
    background-color: #8fc487;
    color: rgb(255, 255, 255);
}

.fillCell *
{
    width: 100%;
    box-sizing: border-box;
}

h1
{
    text-align: center;
    color: rgb(255, 255, 255);
}

#mainContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 800px)
{
    form
    {
        width: 100%;
        min-width: 100%;
    }
}