html, body {
    margin: 0px;
}

body{
    background-color: #D7E8D4;
    font-family: calibri;
}

.pageInfoWrapper{
    top: 50px;
    position: relative;
}

.webshopTitle{
    text-align: center;
}

.news
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 100px;
}

.newsItem{
    position: relative;
    flex: 0 0 auto;
    width: 20%;
    min-width: 200px;
    box-sizing: border-box;
    margin: 0px 10px 5px 10px;
}


.newsPhotoHolder{
    text-align: center;
}

.newsPhoto{
    width: 100%;
}

.newsTitle{
    text-align: center;
}

