html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: #D7E8D4;
    font-family: calibri;
}

.herbaPowerLogoHolder{
    text-align: center;
}

.herbaPowerLogo{
    width: 400px;
}

.TitleWebshop{
    text-align: center;
}